<!DOCTYPE html>
  <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head itemscope="" itemtype="http://schema.org/WebPage">
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>Mecheck</title>
  <link rel="canonical" href="http://mecheck.co/">
  <link rel="search" type="application/opensearchdescription+xml" title="" href="opensearch.xml">
  <link rel="alternate" type="application/atom+xml" title="" href="feed.xml">

  <script>!function(e){e.className=e.className.replace(/\bno-js\b/,"js")}(document.documentElement)</script>

  <meta itemprop="title" content="">
  <meta itemprop="description" content="">
  <meta itemprop="url" content="http://mecheck.co/">

  <!--[if lt IE 9]>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr.js"></script>
  <![endif]-->
 </head>
 <body ng-app="main">

  <div id="layout" ng-class="'wrapper layout' + (fullScreen ? ' full-screen' : '')" ng-controller="results">
    <div class="wrapper layout-wrapper">

      <header role="banner" aria-label="" class="wrapper header">
        <div class="row header-wrapper"><h1 id="typed"></h1></div>
      </header>

      <main role="main" aria-label="" class="wrapper main">
        <form action="javascript:void(0)" method="get" class="form main-form" ng-submit="load()">
          <fieldset class="form-group main-field">
            <input type="text" placeholder="How Are You Feeling?" spellcheck="true" autocomplete="off" class="form-control" ng-model="text" ng-focus="focus($event)" ng-blur="blur($event)" ng-keydown="load()" ng-keyup="load()" />
            <input type="submit" value="Search" class="btn btn-default pull-right" />
          </fieldset>
        </form>
        <div id="search_results" ng-class="'panel panel-default panel-transparent'">
          <!-- <div class="panel"> -->
            <div ng-repeat="result in results">
              <div class="panel-body">
                <h4><a id="search_res" ng-href="/treatment/{{result._id}}">{{result.name}} – {{result.description}}</a></h4>
              </div>
            </div>
          <!-- </div> -->
       </div>
      </main>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="/js/controller/main.js"></script>
  <script src="/js/lib/typed.js"></script>

  <script>
    $(function(){
      $("#typed").typed({
        strings: ["How are you feeling?", ""],
        typeSpeed: 0
      });
    });
  </script>

</body>
</html>
