<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//localhost:8080/css/style.css">

  <title>Mecheck</title>

</head>
<body ng-app="treatment">

  <div id="layout" ng-class="'wrapper layout' + (fullScreen ? ' full-screen' : '')" ng-controller="results"><div class="wrapper layout-wrapper">

    <header role="banner" aria-label="" class="wrapper header">
      <div class="row header-wrapper"><h1>How Are You Feeling?</h1></div>
    </header>

    <main role="main" aria-label="" class="wrapper main">
      <form action="javascript:void(0)" method="get" class="form main-form" ng-submit="submit()">
        <fieldset class="form-group main-field">
          <input type="text" placeholder="How Are You Feeling?" spellcheck="true" autocomplete="on" class="form-control" name="q" ng-model="text" ng-focus="focus($event)" ng-blur="blur($event)"/>
          <input type="submit" value="Search" class="btn btn-default pull-right" />
        </fieldset>
      </form>
      <div class="panel panel-default panel-transparent">
        <!-- <div class="panel"> -->
          <div id="search_form" ng-repeat="result in results">
            <div class="panel-body">
              <h4>{{result.name}}</h4>
              <a ng-href="/treatment/{{result._id}}">Treatment</a>
            </div>
          </div>
        <!-- </div> -->
     </div>
    </main>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/controller/main.js"></script>
</body>
</html>