html,
body {
	background-image: url(../img/island.jpg);
	height:100%;
	width:100%;
	background-size:cover;
	background-position:center;
}

::-webkit-input-placeholder { color:#fff!important; }
:-moz-placeholder { color:#fff!important; }
::-moz-placeholder { color:#fff!important; }
:-ms-input-placeholder { color:#fff!important; }

.layout {
	display:table;
	height:100%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.layout.full-screen {
	height: auto;
}

.layout-wrapper {
	display:table-cell;
	height:100%;
	width:100%;
	vertical-align:middle;
}

.header {
	height:auto;
	width:auto;
}

.header-wrapper {
	height:100%;
	margin:0!important;
	padding:0!important;
	width:100%;
	text-align: center;
	text-shadow: 0 2px 4px gray;
}

.header-wrapper h1 {
	color:#fff;
	font-weight:400;
	text-transform:uppercase;
}
