html,
body {
	background-image: url(../img/island.jpg);
	height:100%;
	width:100%;
	background-size:cover;
	background-position:center;
}

::-webkit-input-placeholder { color:#fff!important; }
:-moz-placeholder { color:#fff!important; }
::-moz-placeholder { color:#fff!important; }
:-ms-input-placeholder { color:#fff!important; }

.layout {
	display:table;
	height:100%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.layout.full-screen {
	height: auto;
}

.layout-wrapper {
	display:table-cell;
	height:100%;
	width:100%;
	vertical-align:middle;
}

.header {
	height:auto;
	width:auto;
}

.header-wrapper {
	height:100%;
	margin:0!important;
	padding:0!important;
	width:100%;
}

.header-wrapper h1 {
	color:#fff;
	font-size:8em;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
}



.main {
	height:auto;
	width:auto;
}

.main-field input[type="text"] {
	background:0 0!important;
	border:0;
	box-shadow:inset 0 0 6.5px 0 white;
	color:#fff!important;
	cursor:text;
	float:left;
	font-size:18px;
	height:60px;
	margin-right: 1%;
	padding-left:1.25em;
	padding-right: 1.25em;
	position:relative;
	width:88%!important;
}

.main-field input[type="submit"] {
	background:0 0!important;
	border:0;
	box-shadow:inset 0 0 6.5px 0 rgb(255,255,255);
	color:#fff!important;
	cursor:pointer;
	float:left;
	height:60px;
	position:relative;
	transition:all ease-in-out;
	transition:all ease-in-out;
	width:10%!important;
}

.panel-transparent{
	height: 200px;
	overflow: auto;
	background: 0 0;
	border: 0;
	box-shadow:inset 0 0 6.5px 0 white;
}

.panel-body {
    color:  white;
    box-shadow: 0 4px 4.5px -2px white;
}

#search_res{
	color: white;
	text-decoration: none;
}

#search_res:hover{
	background: rgba(220, 239, 255, .3);

}

#search_res:visited{
	color: white;
	text-decoration: none;
}

#search_res{
    text-transform: capitalize;
}


#typed{
	display: inline;
}
.typed-cursor{
    opacity: 1;
    font-size: 88px;
    color: white;
    position: relative;
    top: -15px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

