.main-field input[type="text"] {
	background:0 0!important;
	border:0;
	box-shadow:inset 0 0 6.5px 0 white;
	color:#fff!important;
	cursor:text;
	float:left;
	font-size:18px;
	height:60px;
	margin-right: 1%;
	padding-left:1.25em;
	padding-right: 1.25em;
	position:relative;
	width:88%!important;
}

.main-field input[type="submit"] {
	background:0 0!important;
	border:0;
	box-shadow:inset 0 0 6.5px 0 rgb(255,255,255);
	color:#fff!important;
	cursor:pointer;
	float:left;
	height:60px;
	position:relative;
	transition:all ease-in-out;
	transition:all ease-in-out;
	width:10%!important;
}

.panel-transparent{
	height: 200px;
	overflow: auto;
	background: 0 0;
	border: 0;
	box-shadow:inset 0 0 6.5px 0 white;
}

.panel-body {
    color:  white;
    box-shadow: 0 4px 4.5px -2px white;
}

#search_res{
	color: white;
	text-decoration: none;
}

#search_res:hover{
	background: rgba(220, 239, 255, .3);

}

#search_res:visited{
	color: white;
	text-decoration: none;
}

#search_res{
    text-transform: capitalize;
}


.header-wrapper {
	text-align: center;
}
#typed{
	display: inline;
}
.typed-cursor{
    opacity: 1;
    font-size: 88px;
    color: white;
    position: relative;
    top: -15px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.live-search-wrap {
	position: relative;

	input[type=text] {
		width: 100%;
	}

	div.live-search {
		background: rgba($white-color, .8);

		position: absolute;
		left: 0;
		top: 40px; // Height of input
		z-index: 99;

		width: 100%;
		height: 300px;
		overflow: auto;
		transition: all .1s ease-out;

		border: 1px solid $white-color;
		box-shadow: 2px 2px 8px $shadow-color;

		h2 {
			@include body-text;
			font-weight: bold;
			padding: 10px 10px 5px;
		}

		ul {
			margin: 0;
			list-style: none;

			li {
				a {
					display: block;
					padding: 5px 10px;
					color: inherit;
					text-decoration: none;

					&:hover {
						font-weight: bold;
					}

					img {
						width: 20px;
						height: 20px;
						margin-right: 10px;
						vertical-align: middle;
					}
				}

				&:nth-child(odd) a {
					background: rgba($alt-bg, .8);
				}
			}
		}

		nav {
			@include clearfix;
			padding: 5px 10px;

			a {
				float: left;
				color: inherit;
				text-decoration: none;

				&[rel=next] {
					float: right;
				}
			}
		}
	}

	div.live-search:empty {
		height: 0;
		box-shadow: none;
	}
}

